@charset "UTF-8";
@font-face {
    font-family: 'fonte';
    src: url(fontes/idroid.otf);
}
/*Edição do CABEÇALHO*/ 
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-image: linear-gradient(rgb(187, 253, 187), rgb(87, 138, 87), rgb(48, 109, 48));
    height: auto;
}
header h1{
    color: white;
    font-weight: lighter;
    text-align: center;
    padding: 10px;
}
header p{
    color: white;
    text-align: center;
    padding-bottom: 10px;
    font-size: 17px;
}

.menu{ /*Links do menu no cabeçalho*/
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    font-size: 1.2rem;
}
.menu:hover{
    background-color: rgb(68, 92, 76);
    border-radius: 10 px;
}
/*FIM do cabeçalho*/

body{
    background-color: rgb(124, 187, 132);
}
main{
    margin: auto;
    padding: 15px;
    background-color: white;
    width: 80%;
    height: auto;
    border-radius: 15px;
}
main h1{
    font-family: 'fonte';
    color: green;
    font-weight: lighter;
}
main h2{
    font-family: 'fonte';
    color: green;
    background-color: rgba(144, 238, 144, 0.329);
}
main p{
    text-indent: 20px;
    padding: 15px;
}

/*Centralização das Imagens*/

#androids{
    display: flex;
}
#androids img{
    height: auto;
    margin: auto;
}
#mulher{
    display: flex;
    align-items: center;
    justify-content: center;
}
#mulher{
    margin: auto;
}
#mascote{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Edição do Video*/
.video iframe{ 
    width: 100%;
    height: 500px;
    margin-bottom: 15px;
}

/*Section Saiba Mais*/
.saiba-mais{
    background-color: rgb(124, 187, 132);
    border-radius: 10px;
}
.saiba-mais #sub-titulo{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: white;
    background-color: green;
    border-radius: 10px 10px 0px 0px;
}